<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Analysis Project</title>

    <style>
  input[type=submit], input[type=reset] {

  background-color: #145969;
  border: none;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
   }
  
  </style>

</head>

<body bgcolor="#8fbac4"><br><br><center>
    <h2 class="text-center bg-info" ><font face="Goudy Stout">REPORT ANALYSIS </h2></font>
    <h5 class="text-center"><font face="Lucida Handwriting">Madhura KR (2048041)</h5>
    <!-- As a heading -->
    <br><br>
    <h3>Hotel Management System:-</h3>
    <br>
</font>
<form action="\datareport" method="POST">
 <table cellspacing=30>
<tr><td>
<input class="form-check-input" type="radio" name="exampleRadios" id="Hotel" value="option1"><label class="form-check-label" for="Hotel">HOTEL</label><br>

<input class="form-check-input" type="radio" name="exampleRadios" id="Customers" value="option2"><label class="form-check-label" for="Customers">CUSTOMERS</label><br>

<input class="form-check-input" type="radio" name="exampleRadios" id="Food" value="option3"><label class="form-check-label" for="Food">FOOD</label><br>

<input class="form-check-input" type="radio" name="exampleRadios" id="Rooms" value="option4"><label class="form-check-label" for="Rooms">ROOMS</label><br>

<input class="form-check-input" type="radio" name="exampleRadios" id="Bills" value="option5"><label class="form-check-label" for="Bills">BILLS</label><br>

</td>
<td>
<input type="submit" class="btn btn-success btn-lg" value="Data & Report" name="submit"><br>
<input type="reset" class="btn btn-danger btn-lg" value="Reset">
</form>
</tr>
</td>
</table>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>
